<h2>{{ showDetails.name }}  - {{ showDetails.country }} - {{ showDetails.start_date | date:'yyyy' }} </h2>
<hr/>
<div>

</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img [src]="showDetails.image_thumbnail_path" />
      </div>
      <div class="col-sm-6" [innerHTML]="showDetails.description">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Rating: {{ showDetails.rating | number: '1.0-2' }}/10 (rated by {{ showDetails.rating_count }} people)</h5>
      <p>
        {{ showDetails.episodes.length | i18nPlural: { '=0': 'No episode', '=1': '1 episode', 'other': '# episodes' } }}
        -
        {{ tvShowDetailsService.seasonCount() | i18nPlural: { '=0': 'No season', '=1': '1 season', 'other': '# seasons' } }}
      </p>
    </div>
  </div>
</div>
<button (click)="back()" class="primary"><< Back</button>
