<h2>{{ showDetails.name }}  - {{ showDetails.country }} - {{ showDetails.start_date | date:'yyyy' }} </h2>
<hr/>
<div>

</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img [src]="showDetails.image_thumbnail_path" />
      </div>
      <div class="col-sm-6" [innerHTML]="showDetails.description">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Rating: {{ showDetails.rating | number: '1.0-2' }}/10 (rated by {{ showDetails.rating_count }} people)</h5>
      <p>
        {{ showDetails.episodes.length }} episodes - {{ showDetails.seasonCount | i18nPlural: {'=1': '# season', 'other': '# seasons'} }}
      </p>
    </div>
  </div>
</div>

<dialog #dialog>
  <app-card>
    <div class="col-md-11" id="card-header-title">
      <h2>{{ showDetails.name }}</h2>
    </div>
    <div class="col-md-1" id="card-header-actions">
      <span (click)="dialog.close()" style="cursor:pointer">X</span>
    </div>
    <img id="card-body" [src]="showDetails.image_thumbnail_path" class="section media" #currentPicture />
    <div id="card-footer">
      @for (picture of showDetails.pictures; track $index) {
        <img [src]="picture" class="thumbnail" (click)="currentPicture.src=picture" />
     }
    </div>
  </app-card>
</dialog>
<button (click)="dialog.showModal()">Show images</button>

<button (click)="back()" class="primary"><< Back</button>
