<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @if (loading()) {
      <tr>
        <td colspan="5"><div class="spinner"></div></td>
      </tr>
    }
    @for (tvShow of tvShows(); track tvShow.id) {
      <tr>
        <td data-label="Name">{{ tvShow.name }}</td>
        <td data-label="Country">{{ tvShow.country }}</td>
        <td data-label="Year started">{{ tvShow.start_date | date:'yyyy' }}</td>
        <td data-label="Status">{{ tvShow.status }}</td>
        <td data-label="Actions">
          <span class="icon-info"></span>
          <span class="icon-bookmark"></span>
          <span class="icon-link"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
